html/
html_demo/
build/
firmware/
espfs/mkespfsimage/*.o
espfs/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
html_compressed/
ldscript_memspecific.ld
eagle.app.sym
node_modules

# Garbage added by CLion
.idea/
cmake-build-debug/
.sass-cache

*.map
