
ul > * {
	padding-top: .1em;
	padding-bottom: .1em;
}

h1,h2 {
	@include noselect();
}

h1 {
	text-align: center;
	font-size: fsize(6);
	margin-top: 0;
	margin-bottom: dist(0);

	@include media($phone) {
		font-size: fsize(3);
		margin-bottom: dist(-1);
	}

	@include media($tablet) {
		font-size: fsize(5);
	}
}

h2 {
	font-size: fsize(2);
	margin-bottom: dist(-1);
	//&:first-child{margin-top:0}
}

td, th {
	padding: dist(-2);
	white-space: nowrap;

	@include media($phone) {
		padding: dist(-3);
	}
}

tbody th {
	text-align: right;
	width: $form-label-w;
	color: $c-form-label-fg;

	@include media($phone) {
		width: auto;
	}
}

tbody td {
	input[type="text"], input[type="number"] {
		width: 10em;

		@include media($phone) {
			width: 8em;
		}
	}
}

body {
	position: relative;

	padding: dist(0);
	@include media($phone) {
		padding: dist(-1);
	}

	overflow-y: auto;

	& > * {
		margin-left: auto;
		margin-right: auto;
	}
}
