// Loader wheel in top right corner
#loader {
	position: absolute;
	right: dist(1);
	top: dist(1);

	transition: opacity .2s;
	opacity: 0;

	@include media($phone) {
		top: dist(0);
		right: dist(0);
	}

	&.show {
		opacity:1;
	}
}
