/* Main outer container */
#outer {
	display: flex;

	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;

	flex-direction: row;
}

@include media($phone) {
	#outer {
		display: block;
		overflow-y: scroll;
	}
}
