/*
 * This is a separate file rather than embedded because it allows us to
 * suppress non-working CSS from IE8, etc.
 */

@media only screen and (min-width: 500px) {
body {
	margin-left: 30%;
}
p,li,dd {
      max-width:700px;
}
*.nav {
	margin-left: -30%;
	width: 28%;
	position: fixed;
	top: 0;
	overflow: auto;
	height: 100%;
}
}

@media only screen and (min-width: 784px) {
body {
	margin-left: 16em;
}
*.nav {
	margin-left: -16em;
	width: 15em;
	position: fixed;
	top: 0;
	overflow: auto;
	height: 100%;
}
}

*.nav ul {
	list-style-type: none;
	padding-left: 1em;
}

*.nav-break {
	margin-top:  10px;
}
*.nav-top
{
	color: #FFF;
	background-color: #ccc;
	text-decoration:none;
	text-transform:uppercase;
	font-style:italic;
}

*.menu-nav ul
{
	text-decoration:none;
}
