@import "normalize";
@import "lib/bourbon/bourbon";

@import "grid-settings";
@import "lib/neat/neat";

@import "utils";

$form-label-w: 130px;
$form-label-gap: 8px;
$form-field-w: 250px;

$c-form-label-fg: white;
$c-form-field-bg: #303030;
$c-form-field-fg: white;
$c-form-highlight: #214e7a;
$c-form-highlight-a: #2972ba;

@function dist($x) {
	@return modular-scale($x, 1rem, $golden);
}

@function fsize($x) {
	@return modular-scale($x, 1em, $major-second);
}

.hidden {
	display: none !important;
}

[onclick] {
	cursor: pointer;
}

@import "modal";
@import "layout";
@import "form/index";

// import all our pages
@import "pages/wifi";
@import "pages/term";
