@import "normalize";
@import "fontello";
@import "lib/bourbon/bourbon";

@import "grid-settings";
@import "lib/neat/neat";

@import "utils";

$form-label-w: 160px;
$form-label-gap: 8px;
$form-field-w: 250px;

$c-red-outline: #ff0099;
$c-form-label-fg: white;
$c-form-field-bg: #3c3c3c;
$c-form-field-fg: white;
$c-form-highlight: #2972ba;
$c-form-highlight-a: #2ea1f9;

$c-modal-bg: #242426;

$screen-stack: "DejaVu Sans Mono", "Liberation Mono", "Inconsolata", monospace;

@function dist($x) {
	@return modular-scale($x, 1rem, $golden);
}

@function fsize($x) {
	@return modular-scale($x, 1em, $major-second);
}

@import "layout/index";
@import "form/index";

// import all our pages
@import "pages/wifi";
@import "pages/term";
@import "pages/about";

// media queries

@include media($tablet-min) {
	.mq-phone { display: none!important; }
}

@include media($phone) {
	.mq-tablet-min, .mq-no-phone { display: none !important; }
}

@include media($normal-min) {
	.mq-tablet-max { display: none !important; }
}

@include media($tablet-max) {
	.mq-normal-min { display: none !important; }
}
