.page-about {
	.Box {
		padding-left:dist(0);
		padding-right:dist(0);

		a {font-weight: bold;}
	}

	#logo {
		float:right;
		height: 130px;
	}

	// mobile friendly
	#logo2 {
		max-width: 100%;
		margin: 1rem;
	}

	td {
		white-space: normal;
	}
}

.page-help {
	code {
		background: rgba(33, 97, 109, 0.31);
		border-radius: 1px;
		padding: 0 2px;
	}
}

.colorprev {
	margin-top: dist(-2);
	margin-bottom: dist(-2);
	span {
		display: inline-block;
		width: 2em;
		padding: dist(-2) 0;
		text-align: center;
	}
}

.Row table {
	&,td,th{
		border: 1px solid #666;
	}

	th,td {
		white-space: normal;
	}

	th {
		background-color: rgba(255,255,255,.1);
	}
}

.ansiref {
	&.w100 {
		width: 100%;

		td:nth-child(1) {
			width: 8em;
		}
	}
}

.nomen {
	width: 100%;

	code {
		white-space: nowrap;
	}

	td:last-child {
		min-width: 15em;
	}
}

.tscroll {
	overflow-x: auto;
}

.charset {
	line-height: 1;

	div {
		display: inline-block;
		width: 2.7em;
		border: 1px solid #666;
		height: 3em;
		margin: 1px;
		position: relative;

		span {
			display: block;
			position: absolute;
		}

		span:nth-child(1) {
			left: .2em;
			top: .2em;
			height: 1em;
			font-size: 85%;
			color: #999;
		}

		span:nth-child(2) {
			right: .2em;
			top: .2em;
			height: 1em;
			font-size: 85%;
			color: #999;
		}

		span:nth-child(3) {
			width: 100%;
			font-size: 105%;
			text-align: center;
			bottom: .4em;
			font-family: $screen-stack;
		}

		&.none {
			opacity: .4;
		}
	}
}
