@import "fancy_button_mixins";

$btn-gray-f: #DDDDDD;
$btn-gray-b: #505050;
$btn-gray-l: #343434; // line

$btn-green-f:   #FEFEFE;
$btn-green-b: #2ca94b;
$btn-green-fa: #FEFEFE;
$btn-green-ba: #28ba5c;

$btn-red-f:   #FEFEFE;
$btn-red-b:   #D04E51;
$btn-red-fa: #FEFEFE;
$btn-red-ba: #d4403f;

$btn-blue-f:   #FEFEFE;
$btn-blue-b: #3983cd;
$btn-blue-fa: #FEFEFE;
$btn-blue-ba: #2076C6;

$btn-orange-f:   #FEFEFE;
$btn-orange-b: #dd8751;
$btn-orange-fa: #FEFEFE;
$btn-orange-ba: #C6733F;

button, input[type=submit], .button {
	@include fancy-btn-base();

	&.narrow {
		min-width: initial;
	}

	&::before {
		vertical-align: -1px;
		margin-left: 0;
	}

	text-shadow: 1.5px 1.5px 2px rgba(black, 0.4);

	@include fancy-btn-colors($btn-blue-f, $btn-blue-b, $btn-blue-fa, $btn-blue-ba);

	&:focus {
		outline-color: $c-red-outline;
	}
}

//input[type="submit"], .btn-green {
//	@include fancy-btn-colors($btn-green-f, $btn-green-b, $btn-green-fa, $btn-green-ba);
//}

//.btn-red {
//	@include fancy-btn-colors($btn-red-f, $btn-red-b, $btn-red-fa, $btn-red-ba);
//}

//.btn-blue {
//	@include fancy-btn-colors($btn-blue-f, $btn-blue-b, $btn-blue-fa, $btn-blue-ba);
//}
